.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    // font-size: 30px;
    background-color: rgb(31, 31, 31);
    color: white;
    padding: 0px 20px;

    h3 {
        font-size: 30px;
    }

    a:link, a:visited {
        color: white;
        font-size: 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
      }
      
      a:hover, a:active {
        color: grey;
      }
}